@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  font-family: Inter, sans-serif;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(90deg, #4295f1 0%, #307bd1 100%);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.btn__gradient {
  padding: 15px 30px;
  color: white;
  text-align: center;
  background: #1a202c;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  /* box-shadow: 0px 23px 30px -12px rgba(121, 62, 222, 0.3);
  -webkit-box-shadow: 0px 23px 30px -12px rgba(121, 62, 222, 0.3); */
}

.white__btn {
  padding: 15px 30px;
  background: white;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  border: 1px solid #e1e6eb;
}

.white__btn:hover {
  background: #e1e6eb;
}

.btn__gradient:hover {
  background: #131720;
  box-shadow: 0px 23px 30px -12px rgba(99, 109, 223, 0.3);
  -webkit-box-shadow: 0px 23px 30px -12px rgba(99, 109, 223, 0.3);
}
.btn__gradient2 {
  padding: 10px 20px;
  color: white;
  text-align: center;
  background: #131720;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.white__btn2 {
  text-align: center;
  padding: 10px 20px;
  background: white;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.white__btn2:hover {
  background: #dcdcdc;
}

.btn__gradient2:hover {
  background: #131720;
  box-shadow: 0px 23px 30px -12px rgba(99, 109, 223, 0.3);
  -webkit-box-shadow: 0px 23px 30px -12px rgba(99, 109, 223, 0.3);
}

/* .grid__bg {
  background-image: linear-gradient(135deg, #f4f4fb, #e2e8ebc6 69%, #f4f4fb),
    url(https://assets.website-files.com/63f5d36e1bfb159570f6408c/63feed1d49df0b0ba2f037d8_Grid.svg);

  background-position: 0, 0, 50%;
  background-size: auto, auto;
} */

.nav__text {
  background-color: #ffffff00;
  transition: 0.3s ease-in-out;
  font-size: 18px;
}

.nav__text:hover {
  color: #6560c8;
}

.text__gradient {
  background: linear-gradient(90deg, #5c57b7 0%, #dc646a 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.shadow {
  box-shadow: 0px 10px 30px 0px rgba(32, 35, 71, 0.2);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(32, 35, 71, 0.2);
}

/* .shadow {
  box-shadow: 0px 23px 30px -12px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 23px 30px -12px rgba(0, 0, 0, 0.3);
} */

.nav__btn {
  background: transparent;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #131315;
}

.nav__btn:hover {
  background: linear-gradient(-90deg, #dc646a47, #dc646a00);
  border-bottom: 2px solid #dc646a;
}

.nav__btn__no__hover {
  background: linear-gradient(-90deg, #2b6ebb, #1a1a1a00);
}

.season__btn {
  background: #383838;
}

.bg__gradient {
  background: linear-gradient(45deg, #ffffff 0%, #f1f4f9 100%);
}

.bg__gradient2 {
  background: linear-gradient(45deg, #ffffff 0%, #e9eef5 100%);
}

.bg__gradient3 {
  background: linear-gradient(45deg, #5c57b7 0%, #dc646a 100%);
}

.glow1 {
  position: fixed;
  width: 30vw;
  height: 30vw;
  right: -20%;
  top: 40%;

  background: linear-gradient(132.09deg, #3e88de 36.18%, #2b6ebb 69.95%);
  filter: blur(10vw);
  opacity: 0.4;
}
.glow2 {
  position: fixed;
  width: 30vw;
  height: 30vw;
  left: -20%;
  bottom: 0;

  background: linear-gradient(132.09deg, #3e88de 36.18%, #2b6ebb 69.95%);
  filter: blur(10vw);
  opacity: 0.3;
}

nav {
  position: absolute;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

#mobile {
  display: none;
}

#mobile i {
  color: #fff;
  align-items: center;
}

#navbar li {
  list-style: none;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: white;
}

@media screen and (max-width: 878px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    left: -600px;
    width: 250px;
    height: 100vh;
    background-color: #131315;
    padding: 40px 40px 0 10px;
    transition: 0.3s ease-in-out;
    z-index: -500;
  }

  #navbar.active {
    left: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile img {
    cursor: pointer;
  }
}

.home__text {
  font-family: Epilogue, Inter, sans-serif;
  font-weight: 700;
  text-wrap: balance;
}

.sub__text {
  font-family: Epilogue, Inter, sans-serif;
  font-weight: 600;
  text-wrap: balance;
}

.balance {
  text-wrap: balance;
}

.hover-container img {
  transition: transform 0.9s ease-in-out;
}

.hover-container:hover img:first-child {
  transform: translateX(40px) translateY(20px);
}

.hover-container:hover img:last-child {
  transform: translateX(-40px) translateY(-20px);
}
